<div class="row marketing">
  <h3>var TalkAboutCode = </h3>
    <div style="margin-left:10px">
      {<br />
      <b>where</b>: 'Ideapod's office @ Neuehouse, 110 E 25th Street (off of Park), NY NY 10010',<br />
    </div>
    <div style="margin-left:10px">
      <b >when</b>: 'Thursday nights, from 6:00pm-7:00pm. Come at 5:30 for starter beers, on the house.'<br />
    </div>
    <div style="margin-left:10px">
      <b>what</b>: "A nice evening with developers, where someone presents something interesting (expected talk time, 10-20 minutes), and then we talk about it or other projects for the remainder of the hour. The talks should be something interesting involving code and projects you're working on.",<br />
    </div>
    <div style="margin-left:10px">
      <b>who</b>: 'You! And anyone you think would want to come. Not your average hack night, more of a show and tell.',<br />
    </div>
    <div style="margin-left:10px"><b>how</b>:<br />
      <div style="margin-left:20px">
        {<br />
        <b>speakers</b>: 'To register to be a speaker, <a href="https://github.com/ideas/talkaboutcode/blob/master/dist/views/main.html">submit a pull request</a> below and add your talk',<br />
        <b>attending</b>: 'To register to attend, <a href="https://github.com/ideas/talkaboutcode/blob/master/dist/views/main.html">submit a pull request</a> and add your name below. This is to make sure we know the right amount of numbers. First come, first to have a chance to argue about whether node is better than ruby.',<br />
        <b>backers</b>: "ideapod.com's dev team set this up, so that they could learn something new. Neuehouse, their office, has free drinks from 5:30-6:30pm, and after that, some refreshments are provided by ideapod. If you'd like to provide funding, too, let us know by emailing richard@ideapod.com.",<br />
        <b>website</b>: "If you think <a href="talkaboutcode.io">talkaboutcode.io</a> could be better, <a href="https://github.com/ideas/talkaboutcode/blob/master/dist/views/main.html">submit a pull request.</a>"<br />
      }</div>
    }</div>
<hr />
  <h4>var firstTalk =</h4>
  <div style="margin-left:10px">
    {<br />
    <b>When</b>: 'Thursday, May 1st, 6:00pm.',<br />
    <b>Speaker</b>: '<a href="https://twitter.com/richlitt">@richlitt</a>: <i>How I failed to build ngId</i>',<br />
    <b>Attending</b>:<br />
    <div style="margin-left:10px">
      [<br />
        'Richard Littauer (<a href="http://www.github.com/RichardLitt">Github</a>, <a href="https://twitter.com/richlitt">Twitter</a>, <a href="http://www.burntfen.com">Website</a>)',<br />
        'Uri Goldshtein',<br />
        ...<br />
      ]</div>
    }</div>
